body {
  margin: 0;
  font-size: 22px;
  display: grid;
  place-items: center;
  background-color: rgb(219, 240, 176);
}
h1 {
  margin-left: 10px;
  color: dodgerblue;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  width: 270px;
  border: 1px dotted blue;
}
li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

#task {
  font-size: 22px;
  width: 290px;
  margin: 8px;
}

input[type="radio"] {
  margin: 10px;
}
