/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/* VARIABLES */

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* RESPONSIVE */

@media only screen and (min-width: 601px) {
  [class*="col-"] {
    float: left;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .col-5 {
    width: 41.66%;
  }
  button {
    width: 100%;
  }
  .row div {
    padding-bottom: 0.25rem;
  }
}

/* MAIN CSS */

.row {
  width: 100%;
  overflow: hidden;
  margin: 0.25rem 0;
}
input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 0.35rem 0.5rem;
}
label {
  display: block;
  padding: 0.35rem 0;
}
select {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 0.35rem 0.5rem;
}
textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 0.35rem 0.5rem;
}
fieldset {
  background: var(--clr-primary-9);
  border: none;
  padding: 1rem;
}
button {
  float: right;
  background: rgb(21, 190, 21);
  padding: 0.5rem 0.75rem;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.relative-parent {
  position: relative;
}
i {
  color: gray;
  position: absolute;
  font-size: 16px;
  top: 8px;
  left: 8px;
}
#search-indent {
  text-indent: 1.25rem;
}
.remove-margin {
  margin: 0;
}
.remove-margin-bottom {
  margin-bottom: 0;
}
