/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/pexels-brett-sayles-2097628.jpg");
}

/* WELCOME */

.welcome {
  color: white;
}

.welcome p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.welcome h1 {
  color: white;
  padding-bottom: 1rem;
}

/* CARDS */

.cards {
  display: flex;
  width: 75%;
  text-align: center;
  padding: 1rem 0;
  color: white;
}
.card {
  width: 33.33%;
}
.card h4 {
  text-align: center;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.card-img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  border: 2px solid white;
}
.card:hover .card-img {
  border: 2px double rgb(0, 102, 255);
}
.card:hover {
  transform: translateY(-1%);
}
.card-p {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  padding-top: 0.5rem;
}

/* RESPONSIVE */

@media screen and (min-width: 1200px) {
  .card-img {
    width: 250px;
    height: 250px;
  }
  .card p {
    max-width: 250px;
  }
}

@media screen and (max-width: 823px) {
  /* cards responsive */
  .cards {
    display: block;
  }
  .card {
    margin: 0 auto;
    width: 300px;
    padding: 1rem 0;
  }
  .card p {
    max-width: 300px;
  }
  .card-img {
    width: 300px;
    height: 300px;
  }
  /* aside responsive */
  aside h3,
  aside p {
    text-align: center;
  }
}

/* ASIDE */

aside {
  padding: 2rem;
  width: 85%;
  color: white;
}
aside h3 {
  padding-bottom: 1rem;
}

/* FORM */

form {
  color: white;
}
fieldset {
  padding: 1rem;
  border: 5px double rgb(28, 80, 158);
  margin-bottom: 1rem;
  border-radius: 10%;
}
label {
  display: inline-block;
  min-width: 120px;
}
td input {
  color: rgb(28, 80, 158);
}
td {
  padding: 1rem 0;
}
#textarea {
  max-width: 50px;
}
#form-heading {
  color: white;
  padding: 1rem 0;
}
.btn-div {
  text-align: center;
}
.btn-div button {
  margin: 0.25rem 0;
  padding: 0.5rem 1.5rem;
  background-color: rgb(28, 80, 158);
  color: white;
  border-radius: 20px;
}
.btn-div button:hover {
  cursor: pointer;
  background: white;
  color: rgb(28, 80, 158);
}
