.black {
  background: black;
  color: white;
  width: 50px;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: 1px solid black;
  display: inline-block;
}
.white {
  background: white;
  color: black;
  width: 50px;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: 1px solid black;
  display: inline-block;
}
